---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
const base = import.meta.env.BASE_URL;
---
<Layout title={frontmatter.title}>
  <div class="max-w-prose mx-auto px-4 mt-8 mb-12">
    <div class="flex flex-col items-center">
      <h2 class="text-2xl font-bold mb-2 font-mansalva max-w-[35ch]">{frontmatter.title}</h2>
    </div>
    <div class="prose prose-lg max-w-none pt-6">
      <slot />
    </div>

    <p class="text-gray-500 text-sm mt-6">Written {new Date(frontmatter.pubDate).toLocaleDateString()}</p>

    {frontmatter.tags && frontmatter.tags.length > 0 && (
      <div class="mt-2">
        <ul class="flex flex-wrap gap-2">
          {frontmatter.tags.map(tag => (
            <li>
              <a href={`${base}tags/${tag}/`} class="text-gray-500 text-sm hover:text-gray-900">
                {tag}
              </a>
            </li>
          ))}
        </ul>
      </div>
    )}

  </div>
</Layout>
